---
- name: check cluster
  azure_rm_openshiftmanagedcluster_info:
    resource_group: "{{ azr_resource_group }}"
    name: "{{ azr_aro_cluster }}"
  register: _aro_cluster

- name: get credentials
  azure_rm_openshiftmanagedcluster_credentials_info:
    resource_group: "{{ azr_resource_group }}"
    name: "{{ azr_aro_cluster }}"
  register: _aro_creds

- debug:
    var: _aro_cluster

- set_fact:
    kube_api: "{{ _aro_cluster.clusters.properties.apiserverProfile.url }}"
    ocp_console: "{{ _aro_cluster.clusters.properties.consoleProfile.url }}"
    kube_username: "{{ _aro_creds.credentials.kubeadminUsername }}"
    kube_password: "{{ _aro_creds.credentials.kubeadminPassword }}"
  # no_log: true

- name: get access token from openshift
  openshift_auth:
    host: "{{ kube_api }}"
    username: "{{ kube_username }}"
    password: "{{ kube_password }}"
  register: openshift_auth_results
  until: openshift_auth_results.openshift_auth is defined
  retries: 30
  delay: 10

- set_fact:
    ocp_api_key: "{{ openshift_auth_results.openshift_auth.api_key }}"
  no_log: true

# Previous task provides the token/api_key, while all other parameters
# are taken from module_defaults
- name: Get a list of nodes
  kubernetes.core.k8s_info:
    host: "{{ kube_api }}"
    api_key: "{{ ocp_api_key }}"
    kind: Node
  no_log: true
